#map {
    height: 200px;
}

#startInspectionBtn {
    display: none;
}

#stopInspectionBtn {
    display: none;
}

span.label-info {
    background-color: red !important;
    border-radius: 2px;
    padding: 2px;
    margin: 10px 0;
}

.page-link {
    color: white !important;
}