@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
ui {
  list-style-type: none;
}

.sidenav nav ui li {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid rgba(2, 5, 83, 0.8);
}
.sidenav {
  border-right: 1px solid rgba(2, 5, 83, 0.8);
}

.sidenav nav ui li:hover {
  background-color: #fff;
}
.container,
.sidenav {
  margin-top: 64px;
}

.container {
  padding: 8px;
}
.sam-logo {
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
}