.small_font {
    font-size: 12px !important;
}

.max_content {
    width: max-content;
}

#lastInspectionMap {
    height: 300px;
    border: 1px solid white;
}

#example_filter input {
    color: white !important;
}

.dataTables_length {
    color: white !important;
}

.dataTables_length select {
    color: white !important;
}

.dataTables_length select option {
    color: white !important;
}

#example thead {
    background-color: #0e1111 !important;
}

#example thead tr th {
    color: white !important;
    font-size: 12px;
}

#example tbody tr.odd td,
#example tbody tr.even td {
    color: rgb(170, 170, 170) !important;
    font-size: 12px;
}

#example tfoot {
    background-color: #0e1111 !important;
}

#example tfoot tr th {
    color: white !important;
    font-size: 12px;
}